<div class="card">
    <h3>👤 Registro de Usuario</h3>
    <input type="text" id="reg-nombre" placeholder="Nombre completo">
    <input type="email" id="reg-email" placeholder="Correo electrónico">
    <button onclick="registrarUsuario()" class="btn btn-primary" style="margin-top:10px;">Crear Mi Cuenta</button>
</div>

<script>
    function registrarUsuario() {
        const datos = {
            nombre: document.getElementById('reg-nombre').value,
            email: document.getElementById('reg-email').value
        };
        fetch(`${API_URL}/api/usuarios`, {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(datos)
        }).then(() => alert("¡Cuenta creada!"));
    }

    // Para entrar tú como ADMIN
    function loginAdmin() {
        const pass = prompt("Ingresa clave de administrador:");
        if(pass === "Inacap2026") { // Esta es tu clave
            localStorage.setItem("esAdmin", "true");
            alert("Hola Julio, ahora tienes permisos de Admin");
            location.reload();
        } else {
            alert("Clave incorrecta");
        }
    }
</script>
